h1 {
    font-size: 28px;
    text-transform: uppercase;
  }
  
  #position {
    font-size: 18px;
  }
  .summary {
    font-size: 16px;
    line-height: 20px;
  }
  
    h2 {
    color: #2F5A78;
    font-size: 20px;
    padding-bottom: 2px;
    border-bottom: 1px solid #2F5A78;
  } 
  
  body {
    font-family: Arial;
  }
  
  #position {
    font-size: 18px;
    font-weight: bold;
  }
  header {
    text-align: center;
    background-color: #eeeeee;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  #copyright {
    text-align: right;
  }
  section, footer {
    padding: 2px 10px;
  }
  ul {
    margin: 0px;
  }
  li b {
    color: #2F5A78;
  }
  li {
    margin-bottom: 5px;
  } 
  footer {
    background-color: #eeeeee;
  }
  footer a {
    color: #e99f4b;
    text-decoration: none;
  }
  footer a:hover {
    text-decoration: underline;
  }
   
  table { 
    border-collapse: collapse; 
  } 
  td, th { 
    border:1px solid #000000; 
    padding: 5px;
  } 
  th { 
    background-color: #2F5A78; 
    color: #FFFFFF;
  }
  
  input[type='text'], input[type='email'] {
    border: 1px solid #2F5A78;
    width: 150px;
    padding: 5px;
    margin-bottom: 5px;
  }
  textarea {
    border: 1px solid #2F5A78;
    width: 203px;
    padding: 5px;
    margin-bottom: 5px;
  }
  label {
    font-weight: bold;
    color: #2F5A78;
  }
  input[type='submit'] {
    background-color: #2F5A78;
    border: none;
    border-radius: 7px;
    padding: 7px 15px;
    font-weight: bold;
    color: white;
    margin-bottom: 7px;

    /* styles.css */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

#profile-image {
  max-width: 5%;
  height: auto;
  border-radius: 10%;
  float: left;
  margin-right: 20px;
}

h1 {
  margin: 0;
}

#position {
  margin: 5px 0;
}

section {
  margin-bottom: 20px;
}

h2 {
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

p {
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #333;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

footer {
  text-align: center;
  margin-top: 20px;
}

hr {
  border: 0;
  height: 1px;
  background-color: #333;
  margin-bottom: 10px;
}

  } 